{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "",
    "AzureWebJobsStorage": "",
    "QueueConnectionString": ""
  }
}
